{% set appEnvironment = ['<span class="label label-danger">', app.params['environment'], '</span>']|join('') %}
{% set brandLabel = [
    '<div><div style="position:absolute;">',
    app.params['environment'] != 'prod'?appEnvironment:'',
    '</div>',
    html.img('/images/is-small.png'),
    '</div>'
]|join('') %}

{{ nav_bar_begin({
    'brandLabel': brandLabel,
    'options' : {
        'class': 'navbar navbar-default navbar-fixed-top'
    },
    'brandOptions': {
        'style': 'padding-top: 0;'
    }
}) }}
{% if app.user().isGuest() %}
    {{ nav_widget({
        'encodeLabels': false,
        'options' : {
            'class': 'navbar-nav navbar-left',
        },
        'items': [
            {'label': '<i class="fa fa-image"></i> Фотоальбомы', 'url': '/album'},
            {'label': 'Родителям', 'items': [
                {
                    'label': '<i class="fa fa-upload fa-fw"></i> Загрузить фотографию...',
                    'url': '/photo/parentUpload'
                },
            ]},
        ]
    }) }}

{% else %}
    {% set logoutTxt = ['Logout (', app.user().identity().username, ')' ]|join('') %}
    {% set items = [
    {'label': 'Home', 'url': '/site/index'},
    {'label': 'About', 'url': '/site/about'},
    {'label': 'Contact', 'url': '/site/contact'},
    {'label': logoutTxt, 'url': '/site/logout', 'linkOptions': {'data-method': 'post'}}
    ] %}
{% endif %}
{{ nav_bar_end() }}
